/* Dropdown.css */

.filter-dropdown {
    position: static;
}

.dropdown, .dropdown button {
    height: 50px;
}

.filter-dropdown {
    position: static;
}

.dropdown-toggle,
.dropdown-toggle:hover {
    background-color: white;
    color: #303030;
    box-shadow: none;
}
