/* Dropdown.css */

select {

  margin-bottom: 10px;  

  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
}

/* Optional: Style the rating stars */
select option::before {
  content: '';
  display: inline-block;


  background: url('path-to-star-icon.png') no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

/* Optional: Style the time dropdown */
select option {
  padding: 5pt;
}
 /* .drop {
   border-radius: 10px;
 } */



/* css awall */
/* .filter-dropdown {
    position: static;
}

.dropdown, .dropdown button {
    height: 50px;
}

.filter-dropdown {
     position: static;
}

.dropdown-toggle,
.dropdown-toggle:hover {
    background-color: white;
    color: #303030;
    box-shadow: none;
} */
