
.form{
    margin: auto;
    border: 1px solid rgb(80, 74, 74);
    border-radius: 30px;
    height: 500px;
    width: 530px;
    padding: 2%;
    padding-top: 4%;
    box-shadow: 1px 1px 1px 1.5px grey;
}

.haha{
    text-align: center;
    
}

.input{
    margin: 5px auto;
    color: black;
    width: 300px;
    height: 40px;
    border-radius: 20%;
}

p{
    text-align: center;
    font-size: 15px;
}

h4{
    text-align: center;
    color: black;
    font-family: Poppins;
    font-weight: 100px;
    font-size: 24px;
}

.btn-ganti{
    background-color:rgb(31, 31, 88);
    padding: 2px;
    height:30px;
    width: 70px;
}