* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login {
    height: 100vh;
    display: flex;
    overflow: hidden;
}


.logo2 {
    width: 232px;
    height: 40px;
}


.login-right {
    width: 100%;
    height: 100vh;
    border-radius: 50px 0px 0px 50px;
    box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
}

.header h1 {
    color: #00A9B8;
    font-size: 32px;
    font-weight: 600;
}

.login-form label {
    color: #303030;
    font-size: 16px;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.login-form a {
    color: #6d6d6d;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.login-form .btn-login {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #00A9B8;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

.login-form .btn-login a {
    color: white;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.login-form p {
    color: #BDBDBD;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-form a{
    text-decoration: none;
}

.login-form .btn-google {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.google {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.login-form span {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-form span a {
    display: inline-block;
    color: #00A9B8;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.password-input-wrapper {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }