:root {
  --grey-colors-gray-3: #828282;
  --grey-colors-gray-4: #bdbdbd;
}

.card-transaction {
  border-radius: 10px;
  border: 1px solid var(--grey-colors-gray-4);
}

.number-transaction span:nth-child(1),
.mentoring-time span:nth-child(1), .mentoring-date span:nth-child(1) {
  color: var(--grey-colors-gray-3);
  font-family: Poppins;
  font-size: 14px;
  padding: 6px 0px;
  font-weight: 600;
}

.number-transaction span:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
}

.information-transaction span:nth-child(1) {
  display: inline-flex;
  padding: 6px 10px;
  color: #2f80ed;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  background: rgba(47, 128, 237, 0.2);
}

.information-transaction span:nth-child(2) {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.mentoring-time span:nth-child(2), .mentoring-date span:nth-child(2) {
  color: #1d1d1d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

 
