.add-komentar .atur-height {
    height: 100%;
    font-size: 0.9rem;
}

.input-bar {
    width: 90%;
    height: 50px;
}

.input-komen {
    width: 80%;
}

.komen p {
    font-size: 0.9rem;
}

.balas p {
    font-size: 0.7rem;
    font-weight: 600;
    color: #828282;
}

.btn-more-komen p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #282828;
}

.btn-tambah-komentar {
    display: flex;
    width: 210px;
    height: 70px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
}
