.tgl-review, .wrapper-mentor-review {
  color: #828282;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

.nama-mentor-review {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
