.profile {
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
}

Nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #00A9B8;
    font-size: 0.85rem;
    background-color: #fff;


}

.toogle {
    border: none;
}

.logo {
    height: 35px;
}