.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #303030;
    font-size: 0.85rem;
    background-color: #fff;
  }
  
  .navbar a {
    color: #303030;
    transition: color 0.3s ease;
  }
  
  .navbar a.active,
  .navbar a:hover {
    color: #00A9B8;
  }
  
  .navbar .toogle {
    border: none;
  }
  
  .navbar .logo {
    height: 35px;
  }
  
  .navbar .profile {
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
  }