:root {
  --brand-colors-primary: #00a9b8;
  --grey-colors-gray-4: #bdbdbd;
  --black-colors-white: #fff;
  --black-colors-black-3: #282828;
}

.nav-notif {
  border-radius: 10px;
  border: 1px solid var(--grey-colors-gray-4);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.heading-navNotif {
  padding: 10px;
  color: var(--brand-colors-primary);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.mentoring-notif {
  padding: 10px;
  border-radius: 10px;
  background: var(--brand-colors-primary);
  color: var(--black-colors-white);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.tanya-jawab-notif {
  padding: 10px;
  border-radius: 10px;
  color: var(--black-colors-black-3);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.heading-notif {
  margin-left: 15px;
  margin-top: 15px;
  color: var(--brand-colors-primary);
  font-weight: 600;
}