.wrapper-footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F5;
    align-items: center;
    bottom: 0;
    position: fixed; */
    /* font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 16px; */
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    bottom: 0;
    /* position: ; */
}

/* .wrapper-footer-logo, .wrapper-footer-text {
    text-align: center;
}

.navigation-footer {

} */

/* .navigation-footer a {
    color: black;
} */