.pic {
    width: 68px;
    height: 68px;
    object-fit: cover;
    border-radius: 8px;
}

small {
    font-size: 12px;
}

.judul {
    font-size: 14px;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

.em:hover {
    background: rgba(47, 128, 237, 0.05);
}