.container-xxl {
    margin-top: 80px;
    width: 95%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper-save-mentor{
    color: #000;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 145.8%; /* 34.992px */
}